<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
  </packageRestore>
  <packageSourceCredentials />
  <packageSources>
    <clear />
    <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
    <add key="Artifactory nuget-Slingshot" value="https://artifactory.solarwinds.com/artifactory/api/nuget/nuget-Slingshot" />
    <!--<add key="Local debug folder" value="NugetDebugFeed" />-->
    <add key="Artifactory nugets-SolarWinds" value="https://artifactory.solarwinds.com/artifactory/api/nuget/nuget-SolarWinds" />
  </packageSources>
  <fallbackPackageFolders>
    <clear />
  </fallbackPackageFolders>
</configuration>